/**
 * The following styles are applied to the block on both the front end and in the editor.
 * Compile this SCSS to a style.css file for proper loading.
 */

.home-banner {
    padding: 20px;
    border: 1px solid #1e1e1e;
    background-color: #f0f0f0;
    text-align: center;
    
    // Example styling for the content paragraph
    p {
        font-size: 1.2em;
        color: #333;
    }
}